
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>OneOaaS事件集中平台</title>
    <!-- Bootstrap css -->
    <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/bootstrap-3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/fontawesome/css/font-awesome.css" rel="stylesheet">
    <!-- 当前项目样式文件 -->
    <link href="${STATIC_URL}/css/sb-admin.css" rel="stylesheet">
    <link href="${STATIC_URL}/css/sb-bk-theme.css" rel="stylesheet">
    <!--蓝鲸平台APP 公用的样式文件 -->

    <link href="https://magicbox.bkclouds.cc/static_api/v3/bk/css/bk.css?v=1.0.1" rel="stylesheet">
    <!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
    <!--[if lt IE 9]>
    <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/js/html5shiv.min.js"></script>
    <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="${SITE_URL}">
                <i class="fa fa-leaf f20 mr5"></i>
                OneOaaS事件集中平台
            </a>
        </div>
        <!-- Top Menu Items -->
        <ul class="nav navbar-right top-nav">
            <li class="dropdown">
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
                <ul class="dropdown-menu message-dropdown">
                    <li class="message-preview">
                        <a href="javascript:;">
                            <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="img/50x50.png" alt="">
                                    </span>
                                <div class="media-body">
                                    <h5 class="media-heading"><strong>qcloud</strong>
                                    </h5>
                                    <p class="small text-muted">Yesterday at 4:32 PM</p>
                                    <p>当前有一条未读的短消息...</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="message-preview">
                        <a href="javascript:;">
                            <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="img/50x50.png" alt="">
                                    </span>
                                <div class="media-body">
                                    <h5 class="media-heading"><strong>qcloud</strong>
                                    </h5>
                                    <p class="small text-muted">Yesterday at 4:32 PM</p>
                                    <p>当前有一条未读的短消息...</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="message-preview">
                        <a href="javascript:;">
                            <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="img/50x50.png" alt="">
                                    </span>
                                <div class="media-body">
                                    <h5 class="media-heading"><strong>qcloud</strong>
                                    </h5>
                                    <p class="small text-muted">Yesterday at 4:32 PM</p>
                                    <p>当前有一条未读的短消息...</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="message-footer">
                        <a href="javascript:;">查看所有消息</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                <ul class="dropdown-menu alert-dropdown">
                    <li>
                        <a href="javascript:;"><span class="label label-default">&nbsp;&nbsp;提醒内容&nbsp;&nbsp;</span></a>
                    </li>
                    <li>
                        <a href="javascript:;"><span class="label label-primary">&nbsp;&nbsp;提醒内容&nbsp;&nbsp;</span></a>
                    </li>
                    <li>
                        <a href="javascript:;"><span class="label label-success">&nbsp;&nbsp;提醒内容&nbsp;&nbsp;</span></a>
                    </li>
                    <li>
                        <a href="javascript:;"><span class="label label-info">&nbsp;&nbsp;提醒内容&nbsp;&nbsp;</span></a>
                    </li>
                    <li>
                        <a href="javascript:;"><span class="label label-warning">&nbsp;&nbsp;提醒内容&nbsp;&nbsp;</span></a>
                    </li>
                    <li>
                        <a href="javascript:;"><span class="label label-danger">&nbsp;&nbsp;提醒内容&nbsp;&nbsp;</span></a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="javascript:;" class='text-center'>查看所有提醒</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> admin <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="javascript:;"><i class="fa fa-fw fa-user"></i> 用户</a>
                    </li>
                    <li>
                        <a href="javascript:;"><i class="fa fa-fw fa-envelope"></i> 消息盒</a>
                    </li>
                    <li>
                        <a href="javascript:;"><i class="fa fa-fw fa-gear"></i> 设置</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="javascript:;"><i class="fa fa-fw fa-power-off"></i> 退出</a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li class="active">
                    <a href="${SITE_URL}overview/"><i class="fa fa-fw fa-dashboard"></i>事件仪表盘</a>
                </li>
                <li class="active">
                    <a href="${SITE_URL}event/type/"><i class="fa fa-fw fa-dashboard"></i>事件类型</a>
                </li>
                <li class="active">
                    <a href="${SITE_URL}event/manage/"><i class="fa fa-fw fa-dashboard"></i>事件管理</a>
                </li>
                <li class="active">
                    <a href="${SITE_URL}event/workflow/"><i class="fa fa-fw fa-dashboard"></i>事件工作流</a>
                </li>
                <!--li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> 云资源 <i class="fa fa-fw fa-caret-down"></i></a>
                    <ul id="demo" class="collapse">
                        <li>
                            <a href="${SITE_URL}qcloud/">腾讯云</a>
                        </li>
                        <li>
                            <a href="${SITE_URL}aliyun/">阿里云</a>
                        </li>
                        <li>
                            <a href="${SITE_URL}aws/">亚马逊</a>
                        </li>
                        <li>
                            <a href="${SITE_URL}ucloud/">UCloud</a>
                        </li>
                        <li>
                            <a href="${SITE_URL}vmware/">VMware</a>
                        </li>
                    </ul>
                </li-->
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>

    <div id="page-wrapper">

        <div class="container-fluid iframe-container">
            <%block name="content">
            </%block>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
<script src="https://magicbox.bkclouds.cc/static_api/v3/assets/js/jquery-1.10.2.min.js"></script>
<!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
<script src="https://magicbox.bkclouds.cc/static_api/v3/assets/bootstrap-3.3.4/js/bootstrap.min.js"></script>

<!-- 包括所有kendoui的js插件或者可以根据需要使用的js插件调用　-->
<script src="https://magicbox.bkclouds.cc/static_api/v3/assets/kendoui-2015.2.624/js/kendo.all.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#chartA').kendoChart({
            seriesDefaults: {
                type: 'line'
            },
            legend:{
                position : "bottom"
            },
            theme : 'bootstrap',
            tooltip:{
                visible:true,
                template:"#= series.name # #= value #"
            },
            categoryAxis: {
                categories: ['07-20','07-21','07-22','07-23','07-24','07-25','07-26'],
                majorGridLines: {
                    visible: false
                }
            },
            series: [{
                name: "应用事件",
                data: [0, 2, 4, 5, 0, 1, 0]
            }, {
                name: "安全事件",
                data: [0, 1, 0, 0, 2, 0, 0]
            }, {
                name: "网络事件",
                data: [4, 0, 2, 1, 5, 0, 1]
            }]
        });

        $('#chartB').kendoChart({
            legend:{
                position : "bottom"
            },
            theme : 'bootstrap',
            seriesDefaults:{
                type:'area',
                area: {
                    line: {
                        style: "smooth"
                    }
                }
            },
            categoryAxis:{
                categories : ['周一','周二','周三','周四','周五','周六','周日'],
                majorGridLines: {
                    visible: false
                }
            },
            series: [{
                name:'应用事件',
                data:[10, 12, 21, 54, 260, 830, 710]
            },
                {
                    name:'安全事件',
                    data:[30, 182, 434, 791, 390, 30, 10]
                },
                {
                    name:'网络事件',
                    data:[1320, 1132, 601, 234, 120, 90, 20]
                }]
        });

        $('#chartC').kendoChart({
            legend:{
                position : "bottom"
            },
            theme : 'bootstrap',
            seriesDefaults: {
                labels: {
                    template: "#= category # - #= kendo.format('{0:P}', percentage)#",
                    position: "outsideEnd",
                    visible: true,
                    background: "transparent"
                }
            },
            series: [{
                name: '访问来源',
                type: 'pie',
                data: [{
                    category:'应用事件',
                    value:335
                },
                    {
                        value: 310,
                        category: '安全事件'
                    },
                    {
                        value: 234,
                        category: '网络事件'
                    },
                    ]
            }]
        });

        $('#chartD').kendoChart({
            seriesDefaults: {
                type: 'column'
            },
            legend:{
                position : "bottom"
            },
            theme : 'bootstrap',
            tooltip: {
                visible: true,
            },
            categoryAxis: {
                categories: [ 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec' ],
                majorGridLines: {
                    visible: false
                }
            },
            series: [{
                name: '网络事件',
                data: [49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4]
            }, {
                name: '安全事件',
                data: [83.6, 78.8, 98.5, 93.4, 106.0, 84.5, 105.0, 104.3, 91.2, 83.5, 106.6, 92.3]
            }, {
                name: '应用事件',
                data: [48.9, 38.8, 39.3, 41.4, 47.0, 48.3, 59.0, 59.6, 52.4, 65.2, 59.3, 51.2]
            }]
        });
    });

    //重新绘制
    $(window).on('resize',function(){
        var chartA = $("#chartA").data("kendoChart");
        var chartB = $("#chartB").data("kendoChart");
        var chartC = $("#chartC").data("kendoChart");
        var chartD = $("#chartD").data("kendoChart");

        chartA.redraw();
        chartB.redraw();
        chartC.redraw();
        chartD.redraw();
    });

</script>

</body>

</html>
